<h1>Seja bem vindo <%= @nome %></h1><p><strong>Data:</strong> <%= data_br %></p>
<button><%= link_to 'Cadastro de moedas', coins_path %></button>
<button><%= link_to 'Cadastro de tipos', mining_types_path %></button>

