<div class="bg-gray-800 text-white py-4 px-20 w-full min-h-max">
  <h1 class="text-4xl font-bold my-2"><%= t('wellcome') %></h1>
  <p class="text-lg my-2"><%= t('cripto_text') %></p>
  <hr>
  <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded"><%= link_to t('cripto_coin'), coins_path %></button>
  <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded"><%= link_to t('mining_type'), mining_types_path %></button>
</div>
