@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .overlay-pattern { @apply
    bg-pattern-circuit
    bg-fixed
  }
  body { @apply
    bg-gradient-to-bl
    from-cw-purple-700
    via-cw-purple-800
    to-cw-purple-900
    bg-fixed
  }
  input:focus { @apply
    outline-none
  }
}

@layer utilities {
  .btn-links { @apply
    text-white
    bg-gradient-to-r
    from-cw-purple-500
    via-cw-purple-600
    to-cw-purple-700
    hover:bg-gradient-to-br
    focus:ring-4 focus:outline-none
    focus:ring-purple-800
    shadow-lg
    shadow-purple-800/80
    font-bold
    rounded-lg
    text-lg
    px-5
    py-2.5
    text-center
    me-2
    mb-2
  }
}

@layer components {
  .form-label { @apply
    block
    mb-1
    text-sm
    font-medium
    text-white
    w-full
  }
  .form-input { @apply
    border
    text-sm rounded-lg
    block
    w-full
    mb-2
    p-2
    bg-gray-700 
    border-gray-600 
    placeholder-gray-400 
    text-white
    focus:border-cw-purple-500
  }
  .form-label-select { @apply
    block
    mb-1
    text-sm
    font-medium
    text-white
  }
  .form-input-select { @apply
    border
    text-sm
    rounded-lg
    block
    w-full
    p-2
    bg-gray-700
    border-gray-600
    placeholder-gray-400
    text-white
    focus:ring-blue-500
    focus:border-blue-500
  }
}