
<div class="z-20 w-full p-4 border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-cw-purple-900 border-gray-600">
    <span class="text-sm sm:text-center text-gray-400">
      <a href="https://github.com/NoByte-dev" class="hover:underline hover:text-cw-purple-600" target="_blank">Dev: <strong>NoByte</strong> </a>© 2023<br>
      Baseado no curso
      <a href="https://www.udemy.com/user/jackson-pires-de-oliveira-santos-junior/" class="hover:underline hover:text-cw-purple-600" target="_blank">RoR 5.x - <strong>Jackson Pires</strong></a>
      </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</div>
