
<div class="w-full flex justify-center py-2 sm:py-2 border-t shadow bg-cw-purple-900 border-gray-600">
    <span class="text-sm sm:text-center text-gray-400">
      <a href="https://github.com/NoByte-dev" class="hover:underline hover:text-cw-purple-600" target="_blank"><strong>NoByte-Dev</strong> </a> - Jan/2024<br>
      Baseado no curso
      <a href="https://www.udemy.com/user/jackson-pires-de-oliveira-santos-junior/" class="hover:underline hover:text-cw-purple-600" target="_blank">RoR 5.x - <strong>Jackson Pires</strong></a>
      </span>
</div>
